.nav_btn_big_screen ul{
    display: flex;
    gap: 1rem;
}

/* control navbar dropdown*/
.dropdown_container{
    position: absolute;
    right: -20px;
    padding: 1rem;
    width: 13rem;
    border-radius:10px;
}

/* control dropdown lists*/
.dropdown_container ul{
    display: grid;
    gap: 5px;
}

.dropdown_white{
    background-color: rgba(255, 255, 255, 0.688);
}

.dropdown_black{
    background-color: #0f172ad1;
}