@import url('https://fonts.googleapis.com/css2?family=Allura&family=Lexend:wght@100..900&display=swap');

.logo_container{
    display: flex;
    padding: 3px;
    cursor: pointer;
    font-family: "Allura", cursive;
}

.logo_first_name{
   font-size: 1.6rem;
   font-weight: bold;
}
